.App {}

/* Scroll Bar*/

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;

  -webkit-overflow-scrolling: auto !important;
}

::-webkit-scrollbar-corner {
  background-color: #121111;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, .5);
  border: 1px solid #302f2f;
}

.Page {
  margin: 0;
  padding: 0;

  background-image: linear-gradient(rgba(0, 255, 0, .7) .1em, transparent .1em), linear-gradient(90deg, rgba(0, 255, 0, .7) .1em, transparent .1em);
  background-size: 3em 3em;
  background-attachment: local;
}